* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  height: 500px;
}

.clearfix {
  clear: both;
    display: block;
    content: "";
}

.contain {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.header-up {
  padding: 20px 0;
  background-color: #ADD8E6;
}

nav {
  padding: 10px;
  background-color: #DAA520;
  display: flex;
  justify-content: space-between;
}

.header-down {
  background-color: #04008B;
}

.square {
  padding: 40px 120px;
}

.description {
  background-color: #EE81EE;
  height: 420px;
}

